<head>
   
        <!-- <script defer src="community.js" ></script> -->
</head>

  <section class = "community-page">
    <section class="menu">
        <section class="app-name">Basura Cero</section>
        <ul>
                <li><a href="#">GUÍA BASURA CERO</a></li>
                <li><a href="#">COMUNIDAD</a></li>
                <li><a class="closeSession" id="close" href="javascript:logOut();">CERRAR SESIÓN</a></li>
          </ul>

    </section>
    <header class="community">
        COMUNIDAD
    </header>
    <section class="community-section">
        <textarea id ="post" placeholder="Publica un evento o recomendación que mejore nuestra calidad de vida."></textarea>
        <button type="button" id="sendPost">Publicar</button>
        <div id=showPost></div>
            
        </section>

    </section>
