<head>
    <link rel="stylesheet" href="sign-in.css"/>
</head>
<div id="content">
        <section class = "background-log-reg" >
                <!-- <p>INGRESA / REGÍSTRATE</p> -->
                <section class= "header-sign">Basura Cero</section>
                <section class = "user-input">
                <form class = "useremail">Email<input type="email" id="txtEmail"></form>
                <br>
                <form class = "pass">Contraseña<input type="password" id="txtPassword"></form>
              </section>
                <section class = "sign-in-up">INGRESA / REGÍSTRATE
                </section>
              <section class = "sign-buttons">
                <button type = "button" class = "jsBtn" id="btnLogIn" data-next="logIn" dataFirst="txtEmail" dataSecond="txtPassword">INGRESAR</button>
                <section class="if-not-registered">Si todavía no estás registrado, <a class="signUp" id="signUp" href="javascript:goSignUp();">Crea una Cuenta</a></section>
                <!-- <div class = "buttons" id="loggedIn"> -->
                <!-- <button type = "button"class="logOut" id="btnLogOut">LOG OUT</button> -->
                <!-- </div> -->
              </section>
              <section class= "left-wrap-sign">
              <span class = "straw-sign" > - "Sin popote está bien". </span>
                <!-- <img src="https://i.imgur.com/ToVuV7B.jpg" alt="coffee-cup"> -->
              <span class = "bag-sign" > - "Sin bolsa por favor". </span>
              </section>
              <section class="if-not-registered">Si todavía no estás registrado, <a class="signUp" id="signUp" href="javascript:goSignUp();">Crea una Cuenta</a></section>
              
              <!-- <img src="https://i.imgur.com/ToVuV7B.jpg" alt="coffee-cup"> -->
            </section>
          </div>