<head>
    <link rel="stylesheet" href="welcome.css"/>
</head>
  <div id="content">
      <!-- <link href="/public/css/welcome.css" rel="stylesheet"> -->
        <section class = "background-welcome" >
                <!-- <p>INGRESA / REGÍSTRATE</p> -->
                <h1>Basura Cero</h1>
    
                <section class = "welcome">Bienvenidx a la comunidad Basura Cero, donde compartimos recursos para reducir el uso de plásticos y otros desechos no reutilizables.
                        Juntos por un país más limpio y sustentable.                        
                </section>
              <section class = "buttons-welcome">
                <button type = "button" class="jsBtn" id="enter" data-next="goSignIn">ENTRAR</button>
                <!-- </div> -->
              </section>
              <section class="left-wrap-welcome">
              <span class = "straw-welcome" > - "Sin popote está bien". </span>
                <!-- <img src="https://i.imgur.com/ToVuV7B.jpg" alt="coffee-cup"> -->
              <span class = "bag-welcome" > - "Sin bolsa por favor". </span>
              </section>
              
              <!-- <img src="https://i.imgur.com/ToVuV7B.jpg" alt="coffee-cup"> -->
            </section>
  </div>
